doctype html
html
  head
    title Test Pwa
    meta(name='viewport', content='width=device-width, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='manifest', href='./manifest.json')
  body
    block content
    script(src='/javascripts/service.js')

block content
  h1 Test Rendertron
  a(href="/") index
  p pwa Rendertron
  p#js-ele